In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime as dt

In [2]:
url = 'https://ru.wikipedia.org/wiki/100_%D0%BA%D1%80%D1%83%D0%BF%D0%BD%D0%B5%D0%B9%D1%88%D0%B8%D1%85_%D0%B0%D0%B2%D0%B8%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85_%D0%BA%D0%B0%D1%82%D0%B0%D1%81%D1%82%D1%80%D0%BE%D1%84'
page = requests.get(url)
soup = BeautifulSoup(page.text, "lxml")
aircrash = soup.find('table', class_='wide')

In [3]:
headers = []

for i in aircrash.find_all('th'):
    title = i.text
    headers.append(title)

In [4]:
column1= headers[0:10]
del column1[1]
mydata = pd.DataFrame(columns = column1)

In [5]:
for j in aircrash.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(mydata)
    mydata.loc[length] = row

In [6]:
mydata.head()

,№\n,Дата\n,Иллюстрация\n,Воздушноесудно\n,Оператор\n,Место\n,Страна\n,Причина\n,И\n
0,1\n,20010911 11 сентября 2001\n,\n,B767-223ER\n,American Airlines American Airlines\n,Нью-Йорк\n,США\n,Захвачен террористами. Столкновение с северной...,[5]\n
1,2\n,20010911 11 сентября 2001\n,\n,B767-222\n,United Airlines United Airlines\n,Нью-Йорк\n,США\n,Захвачен террористами. Столкновение с южной ба...,[6]\n
2,3\n,19770327 27 марта 1977\n,\n,B747-206BB747-121\n,KLM KLM Pan Am\n,"Лос-Родеос, Тенерифе\n",Испания( Канарские острова)\n,Столкновение на ВПП\n,[7]\n
3,4\n,19850812 12 августа 1985\n,\n,B747SR-46\n,Japan Air Lines Japan Air Lines\n,"Гумма, близ Токио\n",Япония\n,Потеря управления из-за разрушения гермошпанго...,[8]\n
4,5\n,19961112 12 ноября 1996\n,\n,B747-168BИл-76ТД\n,Saudi Arabian Airlines Saudi Arabian Airlines ...,Чархи Дадри\n,Индия\n,Столкновение в воздухе\n,[9]\n

In [7]:
tbody = aircrash.find('tbody')

In [8]:
span = []
for paragraph in tbody.find_all('th'):
    span.append(paragraph.text)

In [9]:
print(len(span))

110

In [10]:
span[0:12]

['№\n',
 'Число погибших\n',
 'Дата\n',
 'Иллюстрация\n',
 'Воздушноесудно\n',
 'Оператор\n',
 'Место\n',
 'Страна\n',
 'Причина\n',
 'И\n',
 '~ 1692\n',
 '~ 965\n']

In [11]:
murders = pd.Series(span[10:])
mydata.insert(1, 'Число погибших', murders)

In [12]:
#mydata.columns = [col.replace("\n", " ") for col in mydata.columns]
mydata.columns = ['Number', 'Deaths', 'Date', 'Illustration', 'Aircraft', 'Airline', 'Location', 'Country', 'Reason', 'And']
mydata = mydata.replace(r'\s+|\\n', ' ', regex=True)

In [13]:
mydata.head()

,Number,Deaths,Date,Illustration,Aircraft,Airline,Location,Country,Reason,And
0,1,~ 1692,20010911 11 сентября 2001,,B767-223ER,American Airlines American Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с северной...,[5]
1,2,~ 965,20010911 11 сентября 2001,,B767-222,United Airlines United Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с южной ба...,[6]
2,3,583,19770327 27 марта 1977,,B747-206BB747-121,KLM KLM Pan Am,"Лос-Родеос, Тенерифе",Испания( Канарские острова),Столкновение на ВПП,[7]
3,4,520,19850812 12 августа 1985,,B747SR-46,Japan Air Lines Japan Air Lines,"Гумма, близ Токио",Япония,Потеря управления из-за разрушения гермошпанго...,[8]
4,5,349,19961112 12 ноября 1996,,B747-168BИл-76ТД,Saudi Arabian Airlines Saudi Arabian Airlines ...,Чархи Дадри,Индия,Столкновение в воздухе,[9]

In [14]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        100 non-null    object
 1   Deaths        100 non-null    object
 2   Date          100 non-null    object
 3   Illustration  100 non-null    object
 4   Aircraft      100 non-null    object
 5   Airline       100 non-null    object
 6   Location      100 non-null    object
 7   Country       100 non-null    object
 8   Reason        100 non-null    object
 9   And           100 non-null    object
dtypes: object(10)
memory usage: 8.6+ KB

In [15]:
mydata.columns = ['Number', 'Deaths', 'Date', 'Illustration', 'Aircraft', 'Airline', 'Location', 'Country', 'Reason', 'And']

In [16]:
mydata = mydata.drop(columns = ['Number', 'Illustration', 'And'])

In [17]:
mydata.head()

,Deaths,Date,Aircraft,Airline,Location,Country,Reason
0,~ 1692,20010911 11 сентября 2001,B767-223ER,American Airlines American Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с северной...
1,~ 965,20010911 11 сентября 2001,B767-222,United Airlines United Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с южной ба...
2,583,19770327 27 марта 1977,B747-206BB747-121,KLM KLM Pan Am,"Лос-Родеос, Тенерифе",Испания( Канарские острова),Столкновение на ВПП
3,520,19850812 12 августа 1985,B747SR-46,Japan Air Lines Japan Air Lines,"Гумма, близ Токио",Япония,Потеря управления из-за разрушения гермошпанго...
4,349,19961112 12 ноября 1996,B747-168BИл-76ТД,Saudi Arabian Airlines Saudi Arabian Airlines ...,Чархи Дадри,Индия,Столкновение в воздухе

In [18]:
mydata['Deaths'] = [cell.replace("~", "") for cell in mydata['Deaths']]

In [19]:
mydata['Date'] = [cell.split(" ", 1)[0] for cell in mydata['Date']]
mydata['Date'] = [cell[:4] + "-" + cell[4:6] + "-" + cell[6:] for cell in mydata['Date']]
mydata['Date']= pd.to_datetime(mydata['Date'], format = "%Y-%m-%d")

In [20]:
mydata.head()

,Deaths,Date,Aircraft,Airline,Location,Country,Reason
0,1692,2001-09-11,B767-223ER,American Airlines American Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с северной...
1,965,2001-09-11,B767-222,United Airlines United Airlines,Нью-Йорк,США,Захвачен террористами. Столкновение с южной ба...
2,583,1977-03-27,B747-206BB747-121,KLM KLM Pan Am,"Лос-Родеос, Тенерифе",Испания( Канарские острова),Столкновение на ВПП
3,520,1985-08-12,B747SR-46,Japan Air Lines Japan Air Lines,"Гумма, близ Токио",Япония,Потеря управления из-за разрушения гермошпанго...
4,349,1996-11-12,B747-168BИл-76ТД,Saudi Arabian Airlines Saudi Arabian Airlines ...,Чархи Дадри,Индия,Столкновение в воздухе

In [21]:
print(mydata['Aircraft'].unique())

['B767-223ER ' 'B767-222 ' 'B747-206BB747-121 ' 'B747SR-46 '
 'B747-168BИл-76ТД ' 'DC-10-10 ' 'B747-237B ' 'L1011-385-1-15 200 '
 'Ан-32Б ' 'B777-2H6ER ' 'A300B2-203 ' 'Ил-76МД ' 'B747-121 ' 'B747-230B '
 'A300B4-605R ' 'A300B4-622R ' 'DC-8-61 ' 'DC-10-30 ' 'Ил-76ТД '
 'DC-8-63CF ' 'A300B4-220 ' 'B747-131 ' 'MD-11 ' 'B747-3B5 ' 'A330-203 '
 'B747-209B ' 'A321-231 ' 'B767-3Z9ER ' 'B767-366ER ' 'Ту-154Б-2 '
 'A320-233 ' 'DC-8-55F ' 'B757-225 ' 'B757-223 ' 'B737 MAX 8 '
 'B707-321C ' 'Ил-62М ' 'B747-283B ' 'MD-81 ' 'Ту-134АТу-134АК '
 'Ту-154Б-1 ' 'HS-121-3BDC-9-31 ' 'B707-3D3C ' 'DC-8-62 ' 'B737-8KV '
 'Ил-62 ' 'Ту-154М ' 'A310-304 ' 'B727-264 ' 'A300B4-203 ' 'B727-281 '
 'A320-216 ' 'MD-82 ' 'B747-244BM ' 'MD-83 ' 'C-130H-LM ' 'B737-8HG '
 'B727-2L5 ' 'B707-340C ' 'C-130B ' 'DC-9-32 ' 'CV-990-30A-5 ' 'C-5A '
 'B727-2F2 ' 'B737-8EH ' 'B727-235 ' 'A310-324 ' 'A320-211 '
 'BAC 1-11-525FT ' 'B737-230 ' 'B727-256 ' 'B737-3Q8 ' 'B727-46 '
 'B727-214Cessna 172 ' 'B707-331B ' 'B727-231 ' 'B727-21 ' 'A320-212 '
 'KC-130B ' 'B737-3Y0 ' 'L-188C ' 'B727-223 ']

In [22]:
def aircraft(cell):
    if 'B7' in cell and len(cell) < 12:
        return cell.split("-", 1)[0]
    if 'A3' in cell and len(cell) < 12:
        return cell.split("-", 1)[0]
    if 'DC' in cell and len(cell) < 12:
        return cell.rsplit("-", 1)[0]
    if 'Ту-154' in cell:
        return 'Ту-154'
    if 'L1011' in cell:
        return 'L1011'
    if 'Ил-76' in cell:
        return 'Ил-76'
    if 'C-130' in cell:
        return 'C-130'
    if 'CV-990' in cell:
        return 'CV-990' 
    if 'BAC' in cell:
        return 'BAC 1-11'
    if 'A300' in cell:
        return 'A300'
    return cell

In [23]:
mydata['Aircraft'] = mydata['Aircraft'].apply(aircraft)

In [24]:
mydata['Aircraft']

0                   B767
1                   B767
2     B747-206BB747-121
3                 B747SR
4                  Ил-76
             ...
95                 C-130
96                  B737
97               L-188C
98                Ту-154
99                  B727
Name: Aircraft, Length: 100, dtype: object